<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tetrisrpg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TetrisRPG">
        <activity
            android:name=".ScoreActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/setStyle" />
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TetrisRPG" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TetrisRPG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>